* {
    font-family: 'Bodoni Moda', serif;
    color: white;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/12/12/ship-traffic-jams-602169_1280.jpg");
    background-color: #cccccc;
}

.flashes h4 {
    line-height: 2;
}

#password, #username {
    color: black;
}