* {
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
} 


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/12/12/ship-traffic-jams-602169_1280.jpg");
    background-color: #ffffff;
}  

.flashes h4 {
    line-height: 2;
}

#password, #username {
    color: black;
}

/* label color */
.input-field label {
     color: #ffffff;
   }

#sub-btn {
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}
/* home */
.btn-small {
    margin: 5px;
}

.card-title {
    margin:5px;
}

/* base template header icon */
#wheel {
    margin-left:10px;
}