* {
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: black;
} 

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/12/12/ship-traffic-jams-602169_1280.jpg");
    background-repeat: round;
}  

.term {
    color:white;
}

#created {
    padding-left:6px;
}


.flashes h4 {
    line-height: 2;
}

#password, #username {
    color: black;
}

/* label color */
.input-field label {
     color: black;
   }

#sub-btn, #searchbtn {
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}
/* home */
.btn small {
    margin: 5px;
    size: 0.5em;
}

.i {
    color:white;
}

.fas {
    color:white;
}

.search {
    padding:50px;
    color:white;
    font-style: italic;
}

.card-title {
    margin:5px;
    color:white;
}

.edit {
    color: white;
}

/* base template header icon */
#wheel {
    margin-left:10px;
    color:white;
}
/* random page */
.rand {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 0px;
}

#randbtn {
    padding-top:0;
    padding-right:0;
    padding-bottom:100px;
}

.white {
    color:white;
}


.label {
    text-shadow: 0;
}

/* login page text */
#logintxt, .bg-img, .new {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}


@media only screen and (max-width: 1024px){
    /* random page */
    .rand {
        width:100%;
    }

    #resetbtn {
        width:61%;
    }

}
@media only screen and (max-width: 768px){
    #resetbtn {
        width: 69%;
}
      /* random page */
    .rand {
        padding: 0px;
        padding-top:50px;
        padding-left:175px;
        width:100%;
    }

}
/* media query surface duo */
@media only screen and (max-width: 542px) {
    a.brand-logo {
        font-size: 25px;
    }

    #wheel {
        font-size: 20px;
        padding-top: 20px;
    }

    #resetbtn, #submitbtn {
        font-family: 'Bodoni Moda', serif;
        width:70%
    }

    /* random page */
    .rand {
        padding: 0px;
        padding-top:50px;
    }
}

/* media query Pixel 2, Pixel 2XL */
@media only screen and (max-width: 414px) {
    a.brand-logo {
        font-size: 20px;
    }

    #wheel {
        font-size: 15px;
        padding-top: 20px;
    }

    #submitbtn {
        justify-content: center;
        width:80%;
        font-size: 10px;
        font-family: 'Bodoni Moda', serif;
    }

    #resetbtn, .def {
        width:80%;
        font-size: 10px;
        font-family: 'Bodoni Moda', serif;
    }

    #srchbtn {
        font-size: 14px;
    }

    /* random page */
    .rand {
        padding-left: 0;
        padding-top: 50px;
    }
}

/* media query: iphone 6/7/8 */
@media only screen and (max-width: 375px) {
    a.brand-logo {
        font-size: 20px;
    }

    #wheel {
        font-size: 15px;
        padding-top: 20px;
    }

    #submitbtn {
        justify-content: center;
        width:80%;
        font-size: 8px;
        font-family: 'Bodoni Moda', serif;
    }

    #srchbtn {
        font-size: 10px;
    }

}

/* media queries - MotoG4, Galaxy S5 */
@media only screen and (max-width: 360px) {
    a.brand-logo {
        font-size: 20px;
    }

    #wheel {
        padding-top: 20px;
        font-size: 15px;
    }

    #resetbtn, .def {
        width:75%;
        font-size: 13px;
        font-family: 'Bodoni Moda', serif;
    }

    #submitbtn {
        font-size: 0px;
        justify-content: center;
        width:75%;
    }

    .fa-search {
        font-size: 10px;
    }
    
    #xbtn {
        font-size: 13px;
    }

    /* random page */
    .rand {
        padding-left: 0px;
        padding-top:0px;
        padding-bottom:0px;
    }


    /* side navigation */
    .li {
        font-family: 'Bodoni Moda', serif;
        font-size: 45px;
        color: black;
    }

    .fa-search{
        font-size: 15px;
    }

    /* add word page */
    #sub-btn {
        width:50%;
        font-size: 15px;
    }

    .sidenav li>a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    a.brand-logo {
        font-size: 17px;
    }

    #wheel {
        padding-top: 20px;
        font-size: 15px;
    }

    #submitbtn {
        font-size: 0px;

    }
    #sub-btn, .cnbtn {
        width: 66%

    }

    #xtbn {
        font-size: 10px;
    }

}

/* media query: galaxy fold */
@media only screen and (max-width: 280px) {
    a.brand-logo {
        font-size: 15px;
    }

    #wheel {
        padding-top: 20px;
        font-size: 10px;
    }
    
    #submitbtn {
        font-size: 0px;

    }

    #sub-btn {
        width: 70%;
        font-size: 15px;
    }

    .cnbtn {
        width: 70%;
        font-size: 15px;
    }
    #titlenav {
        padding: 0px;
    }

    .rand {
        padding-bottom:0px;
        padding:0px;
        padding-top:50px;
    }

    #randbtn {
        padding:0px;
    }

}