* {
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: black;
} 

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/12/12/ship-traffic-jams-602169_1280.jpg");
    background-repeat: round;
}  

.term {
    color:white;
}

#created {
    padding-left:6px;
}


.flashes h4 {
    line-height: 2;
}

#password, #username {
    color: black;
}

/* label color */
.input-field label {
     color: black;
   }

#sub-btn {
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}
/* home */
.btn small {
    margin: 5px;
    size: 0.75em;
}

.i {
    color:white;
}

.fas {
    color:white;
}

.search {
    padding:50px;
    color:white;
    font-style: italic;
}

.card-title {
    margin:5px;
    color:white;
}

/* base template header icon */
#wheel {
    margin-left:10px;
    color:white;
}

.rand {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}