* {
    font-family: 'Bodoni Moda', serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: black;
} 

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/12/12/ship-traffic-jams-602169_1280.jpg");
    background-repeat: round;
}  

.term {
    color:white;
}

#created {
    padding-left:6px;
}


.flashes h4 {
    line-height: 2;
}

#password, #username {
    color: black;
}

/* label color */
.input-field label {
     color: black;
   }

#sub-btn, #searchbtn {
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}
/* home */
.btn small {
    margin: 5px;
    size: 0.5em;
}

.i {
    color:white;
}

.fas {
    color:white;
}

.search {
    padding:50px;
    color:white;
    font-style: italic;
}

.card-title {
    margin:5px;
    color:white;
}

.edit {
    color: white;
}

/* base template header icon */
#wheel {
    margin-left:10px;
    color:white;
}

.rand {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.label {
    text-shadow: 0;
}

/* login page text */
#logintxt, .bg-img, .new {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

/* media queries */
@media only screen and (max-width: 360px) {
a.brand-logo {
    font-size: 20px;
}

#wheel {
   padding-top: 20px;
   font-size: 15px;
}

#resetbtn, .def {
    width:75%;
    font-size: 10px;
    font-family: 'Bodoni Moda', serif;
}

#submitbtn {
    font-size: 0px;
    justify-content: center;
    width:75%;
}

.fa-search {
    font-size: 10px;
}

/* random page */
.rand {
    padding-left: 0px;
}

/* .fa { 
    font-size: 5; 
} */

/* side navigation */
.li {
    font-family: 'Bodoni Moda', serif;
    font-size: 45px;
    color: black;
}

.fa-search{
    font-size: 15px;
}

}

