{% extends "base.html" %}
{% block content %}

    <h3 class="center-align term">Add a Term <i class="fas fa-feather"></i></h3>

    <div class="row card-panel amber lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('add_word') }}">
            <!--word input-->
            <div class="row">
                <div class="input-field col s12">
                    <input name="task_word" id="task_word" type="text" 
                        class="validate" minlenth="2" maxlength="25">
                    <label for="task_word">Term </label>
                </div>
            </div>
        
            <!--definition input-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="task_name" name="task_name" class="materialize-textarea validate" 
                        minlenth="10" maxlength="300" required pattern="^[A-Za-z]{10,300}$"></textarea>
                    <label for="task_name" >Add definition here</label>
                </div>  
            </div>

            <!--example input-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="task_description" name="task_description" class="materialize-textarea validate" 
                        minlenth="10" maxlength="200" required pattern="^[a-zA-Z]{10,200}$"></textarea>
                    <label for="task_description">Use it in a sentence</label>
                </div>               
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <!--submit button -->
                    <button type="submit" id ="sub-btn" class="btn-large indigo accent-4 text-shadow">Submit</button>
                    <!-- cancel button -->
                    <a href=" {{ url_for('get_defs') }}" class="btn-large red text-shadow cnbtn">Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
