{% extends "base.html" %}
{% block content %}

    <h3 class="#ffffff center-align">Edit Word</h3>

    <div class="row card-panel amber lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_word', task_id=task._id) }}">
            <!--word input-->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Word" name="task_word" id="task_word" type="text" 
                        value="{{ task.task_word }}" class="validate" minlenth="2" maxlength="25" required>
                    <label for="task_word"><i class="fas fa-feather"></i></label>
                </div>
            </div>
        
            <!--definition input-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="task_name" name="task_name" class="materialize-textarea validate" 
                        maxlength="200" minlenth="10" required>
                        {{- task.task_name -}}
                    </textarea>
                    <label for="task_name" >Add definition here</label>
                </div>  
            </div>

            <!--example input-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="task_description" name="task_description" class="materialize-textarea validate" 
                        minlenth="10" maxlength="200" required>
                        {{- task.task_description -}}
                </textarea>
                    <label for="task_description">Use it in a sentence</label>
                </div>               
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href=" {{ url_for('get_defs') }}" class="btn-large red text-shadow">Cancel
                        <i class="fas fa-window-close"></i>
                    </a>
                    <!-- submit button -->
                    <button type="submit" id ="sub-btn" class="btn-large indigo accent-4 text-shadow">Submit 
                        <i class="fas fa-pen"></i></button>
                </div>
            </div>
        </form>
    </div>    

{% endblock %}
