{% extends "base.html" %}
{% block content %}
    
        {% for task in tasks %}
        <div class="card">
            <!-- Checks if user is logged in, offers options based on login status -->
            
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ task.task_word }}
                {% if session.user == task.created_by %}
                <!-- Checks if user is the owner of the original post & offers options based on that status -->
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green"><i class="fas fa-pen"></i></a>
                    <a href="{{ url_for('delete_word', task_id=task._id)}}" class="btn small red" onclick="sure()"><i class="fas fa-trash"></i></a>
                {% elif session.user == "admin"|lower %}
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green" onclick="sure()"><i class="fas fa-pen"></i></a>
                    <a href="{{ url_for('delete_word', task_id=task._id)}}" class="btn small red"><i class="fas fa-trash"></i></a>
                {% elif session.user %}
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green"><i class="fas fa-pen"></i></a>
                {% endif %}
                </span>
                <p><em>added by: {{ task.created_by }}</em></p>    
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ task.task_name }}
                    <i class="material-icons right">X</i></span>
                <p>{{ task.task_description }}</p>
            </div>
        </div>
        
        {% endfor %}
        
{% endblock %}