{% extends "base.html" %}
{% block content %}

    <h4 class="center-align search">Search for nautical terms from the Golden Age of Sail (1571–1862)</h4>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <!-- search input -->
                <div class="input-field col s12 m8">
                    <i class="fas fa-search fa-xs prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Terms</label>
                </div>
                <!-- search/reset buttons -->
                <div class="col s12 m4 right-align">
                        <a href="{{ url_for('get_defs') }}" class="red btn text-shadow" id="resetbtn"><i class="fas fa-times left"></i>Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search fa-sm left" id="srchbtn"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <h4 class="center-align search">Recently Added</h4>

        {% if tasks|length > 0 %}
        {% for task in tasks %}
        <div class="card recent">
            <!-- Checks if user is logged in, offers options based on login status -->
            
            <div class="card-content btnz">
                <span class="card-title activator grey-text text-darken-4">{{ task.task_word }}
                {% if session.user == task.created_by %}
                <!-- Checks if user is the owner of the original post & offers options based on that status -->
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green"><i class="fas fa-pen fa-sm"></i></a>
                    <a href="{{ url_for('delete_word', task_id=task._id)}}" class="btn small red" onclick="return confirm('Are you sure you want to delete this word')"><i class="fas fa-trash fa-sm"></i></a>
                {% elif session.user == "admin"|lower %}
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green"><i class="fas fa-pen fa-sm"></i></a>
                    <a href="{{ url_for('delete_word', task_id=task._id)}}" class="btn small red" onclick="return confirm('Are you sure you want to delete this word')"><i class="fas fa-trash fa-sm"></i></a>
                {% elif session.user %}
                    <a href="{{ url_for('edit_word', task_id=task._id)}}" class="btn small green"><i class="fas fa-pen fa-sm"></i></a>
                {% endif %}
                </span>
                <!-- 'added by' text -->
                <p id="created"><em>added by: {{ task.created_by }}</em></p>
                
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ task.task_name }}
                    <i class="fas fa-times right"></i></span>
                <p>{{ task.task_description }}</p>
            </div>
        </div>
        
        {% endfor %}
        {% else %}
            <h4 class="red center-align">No Results Found</h4>
        {% endif %}
{% endblock %}